@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");



@theme {
    --font-Kumbh: "Kumbh Sans", sans-serif
}

:root{
    --primary-color: #C8EE44;
    --secondary-color: #29A073;

    /* Text colors */
    --text-3-color: #78778B;
    --pure-white: #ffffff;
    --text-1-color: #1B212D;
    --text-2-color: #929EAE;

    /* Darkish colors */
    --dark-2-color: #282541;
    --key-black-color: #363A3F;
    --dark-bg: #1C1A2E;
    --dark-shade: #1E1C30;
    --dark-1-color: #201E34;

    /* Status Color */
    --error: #E5363D;
    --success: #19D076;

    /* Gray colors */
    --gray-1-color: #FAFAFA;
    --gray-2-color: #F8F8F8;
    --gray-3-color: #F5F5F5;
    --gray-4-color: #FDFDFD;
    --gray-5-color: #F2F2F2;

    --linear-gradient: linear-gradient(90deg, #4A4A49 0%, #20201F 100%);
}

@import "tailwindcss";

/* Map them to Tailwind */
@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

  --color-text-1: var(--text-1-color);
  --color-text-2: var(--text-2-color);
  --color-text-3: var(--text-3-color);
  --color-white: var(--pure-white);

  --color-dark-bg: var(--dark-bg);
  --color-dark-shade: var(--dark-shade);
  --color-dark-1: var(--dark-1-color);
  --color-dark-2: var(--dark-2-color);
  --color-black-key: var(--key-black-color);

  --color-error: var(--error);
  --color-success: var(--success);

  --color-gray-1: var(--gray-1-color);
  --color-gray-2: var(--gray-2-color);
  --color-gray-3: var(--gray-3-color);
  --color-gray-4: var(--gray-4-color);
  --color-gray-5: var(--gray-5-color);

  --color-linear: var(--linear-gradient);
}
